* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.container {
    font-family: 'Montserrat', sans-serif;
    max-width: 1300px;
    width: 100%;
    display: block;
    margin: auto;
}

h2 {
    color: rgb(38, 86, 241);
}

#input {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    width: 200px;
    height:35px;
    border: none;
    background-color: #E9E9E9;
    font-size: 17px;
    text-align: center;
}

.inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

p {
    color: #606060;
}

#titleType {
    font-size: 24px;
}

label > input[type="checkbox"] {
    display: none;
  }

  label > input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 23px;
    height: 23px;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.15rem;
    border-color: rgb(38, 86, 241);
    margin-top: 10px;
  }

  label > input[type="checkbox"]:checked + *::before {
    content: "✓";
    color: rgb(0, 0, 0);
    text-align: center;
  }

  #textBox {
    font-size: 23px;
    color: #606060;
  }

  .typeSelect {
    display: flex;
    flex-direction: column;
  }

  .middleDiv {
    display: flex;
  }

  .tipoAula {
    margin-top: 50px;
    margin-left: 300px;
  }

  #grafico {
    background-color: #E9E9E9;
    width: 787px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
  }

  #inputText {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    background-color: #E9E9E9;
    color: #606060;
    border-radius: 4px;
  }

.bx {
    font-size: 30px;
    margin-left: 30px;
}

  .user {
    width: 100%;
    height: 50px;
    background-color: #E9E9E9;
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
  }

  .nameuser {
    color:rgb(38, 86, 241);
    margin-left: 10px;
  }

  .numberuser {
    margin-left: 7px;
  }